/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'inter';
    box-sizing: border-box;
}

body {
    background: #2A2A2A;    
}

nav {
    width: 100%;
}

nav .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 120px;
    margin: 0 auto;
    max-width: 1600px;
}

nav .max-width .logo img {
    width: 90px;
    margin-bottom: 13px;
}

nav .max-width ul {
    display: flex;
    list-style-type: none;
}

nav .max-width ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #B6B6B6;
    padding: 0 18px;
    transition: 0.1s;
}

nav .max-width ul a:hover {
    color: #1AA37A;
}

nav .max-width ul li .contact {
    font-weight: 700;
    background: #1AA37A;
    box-shadow: 0px 10px 57px rgba(157, 255, 179, 0.2);
    border-radius: 40px;
    padding: 16px 32px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    border-color: #1AA37A;
    margin-left: 18px;
}

nav .max-width ul li .contact:hover {
    box-shadow: 0 0 10px 0 #1AA37A inset, 0 0 10px 4px #1AA37A;
    background-color: transparent;
    color: #1AA37A;
}

/* home section styling  */
#home {
    height: 80vh;
}

#home .max-width {
    max-width: 1600px;
    margin: auto;
    padding: 0 120px;
}

#home .max-width .circle-1 {
    background: radial-gradient(50% 50% at 50% 50%, #B9CEEA 0%, rgba(42, 42, 42, 0) 100%);
    position: absolute;
    opacity: 0.7;
    left: 164px;
    top: -81px;
    z-index: -1;
    width: 634px;
    height: 634px;
}

.home-container {
    display: flex;
    justify-content: space-between;
}

.home-container .left-side h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 65px;
}

.home-container .left-side .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 577px;
    height: 115px;
    background: #3F3F3F;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    margin: 16px 0;
}

.home-container .left-side .avatar img {
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

.home-container .left-side .avatar h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.home-container .left-side .avatar p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ACACAC;
}